---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="about dungy" description="all about dungy" />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="max-w-4xl p-2 mx-auto md:p-4">
			<div class="p-5 mx-md mx-5 border-blue-300">
			<h1 class="font-sans text-blue-900 text-4xl text-center">about dungy</h1>
			 </div>
             <div class="mx-md">
                <p class="font-sans text-m">
                    a high-class husbandoist with long-term conditions of being terminally online in my adolescence. internet culture weirdo.
                </p>
                <p class="font-sans text-m">
                    this website is for me to post about anime, media, husbandos, and anything else internet culture.

                </p>
                <p class="font-sans text-m">
                    get in touch @ me@dungy.space

                </p>

                <p class="text-s font-sans">i also have another website <a href="https://tytydaniel.co.uk">here</a></p>
             </div>
            				  </main>
		<Footer />
	</body>
</html>
