---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="dungy's startpage" description={SITE_DESCRIPTION} />

	</head>
	<body class="bg-gradient-blue-green">
		<Header title={SITE_TITLE} />
		<main class="p-1 mx-auto md:p-3">
            <div class="p-3 mx-auto text-center">
                <h1 class="text-2xl">daniel! お茶はいかがですか</h1>
               </div>
              <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
  <div class="relative group w-64 h-72 overflow-hidden">
                <!-- Image -->
                <div class="w-64 h-full bg-cover bg-top transition-all duration-500 group-hover:translate-y-full rounded-md" style="background-image: url('/multi-26.jpg');"></div>
              
                <!-- Links (Initially hidden) -->
                <div class="absolute inset-0 bg-white flex flex-col justify-center items-center space-y-2 opacity-0 group-hover:opacity-100 group-hover:pointer-events-auto transition-all duration-500 rounded-md">
                  <a href="https://www.youtube.com" class="text-black text-lg hover:underline">youtube</a>
                  <a href="https://x.com" class="text-black text-lg hover:underline">twitter</a>
                  <a href="https://account.proton.me/apps" class="text-black text-lg hover:underline">proton</a>
                  <a href="https://bsky.app" class="text-black text-lg hover:underline">bluesky</a>
                  <a href="https://substack.com" class="text-black text-lg hover:underline">substack</a>
                </div>
              </div>
              
              <div class="relative group w-64 h-72 overflow-hidden">
                <!-- Image -->
                <div class="w-64 h-full bg-cover bg-top transition-all duration-500 group-hover:translate-y-full rounded-md" style="background-image: url('/gepard-01.jpg');"></div>
              
                <!-- Links (Initially hidden) -->
                <div class="rounded-md absolute inset-0 bg-white flex flex-col justify-center items-center space-y-2 opacity-0 group-hover:opacity-100 group-hover:pointer-events-auto transition-all duration-500">
                  <a href="https://epochemagazine.org" class="text-black text-lg hover:underline">epoche</a>
                  <a href="https://www.lrb.co.uk" class="text-black text-lg hover:underline">lrb</a>
                  <a href="https://www.newstatesman.com" class="text-black text-lg hover:underline">new statesman</a>
                  <a href="https://www.apollo-magazine.com" class="text-black text-lg hover:underline">apollo magazine</a>
                  <a href="https://www.prospectmagazine.co.uk/" class="text-black text-lg hover:underline">prospect</a>
                </div>
              </div>

              <div class="relative group w-64 h-72 overflow-hidden">
                <!-- Image -->
                <div class="w-64 h-full bg-cover bg-top transition-all duration-500 group-hover:translate-y-full rounded-md" style="background-image: url('/ushijima-63.jpg');"></div>
              
                <!-- Links (Initially hidden) -->
                <div class="rounded-md absolute inset-0 bg-white flex flex-col justify-center items-center space-y-2 opacity-0 group-hover:opacity-100 group-hover:pointer-events-auto transition-all duration-500">
                  <a href="https://lainchain.org" class="text-black text-lg hover:underline">lainchan</a>
                  <a href="https://leftypol.org" class="text-black text-lg hover:underline">leftypol</a>
                  <a href="https://www.gelbooru.com" class="text-black text-lg hover:underline">gelbooru</a>
                  <a href="https://boards.4chan.org/g/" class="text-black text-lg hover:underline">/g/</a>

                </div>
              </div>

              <div class="relative group w-64 h-72 overflow-hidden">
                <!-- Image -->
                <div class="w-64 h-full bg-cover bg-top transition-all duration-500 rounded-md" style="background-image: url('/images/husbandos/kagami/kagami-02.jpg');"></div>
                <div class="rounded-md absolute inset-0 flex flex-col justify-center items-center opacity-0 group-hover:opacity-60 bg-slate-400 transition-all duration-500">
                  <p>Kagami Taiga</p>
                </div>
              

              </div>

              <div class="relative group w-64 h-72 overflow-hidden">
                <!-- Image -->
                <div class="w-64 h-full bg-cover bg-top transition-all duration-500 group-hover:translate-y-full rounded-md" style="background-image: url('/images/husbandos/thoma/thoma-02.jpg');"></div>
                <div class="rounded-md absolute inset-0 bg-white flex flex-col justify-center items-center space-y-2 opacity-0 group-hover:opacity-100 group-hover:pointer-events-auto transition-all duration-500">
                  <a href="https://game8.co" class="text-black text-lg hover:underline">game8</a>

                </div>
                <!-- Links (Initially hidden) -->

              </div>

              <div class="relative group w-64 h-72 overflow-hidden">
                <!-- Image -->
                <div class="w-64 h-full bg-cover bg-top transition-all duration-500 rounded-md" style="background-image: url('/loid-01.png');"></div>
                <div class="rounded-md absolute inset-0 flex flex-col justify-center items-center opacity-0 group-hover:opacity-60 bg-slate-400 transition-all duration-500">
                  <p>Loid Forger</p>
                </div>
                <!-- Links (Initially hidden) -->

              </div>
              </div>
            </main>
            <Footer />
            </body>
            </html>